<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Table</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Business Table</h1>
    </header>
    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                Tables
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                        <a href="/vendor_table">Vendor Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
 
    <main class="table-page">
        <h2>Business Table</h2>

    <div class = "sort-buttons">
        <a href="/business_table?sort=name" class="sort-button">Sort by Name A-Z</a>
        <a href="/business_table?sort=name_desc" class="sort-button">Sort by Name Z-A</a>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>Business Name</th>

                <th>NZ Business</th>

                <th>Handmade NZ</th>

                <th>Designed NZ</th>

                <th>Assembled NZ</th>

                <th>Vendor name</th>

                <th>Contact number</th>
            </tr>
        {% for row in result %}
            <tr>
                <td>{{row['business_name']}}</td>
                <td>{{"✓" if row['nz_business'] == "1" else "✗"}}</td>
                <td>{{"✓" if row['handmade_nz'] == "1" else "✗"}}</td>
                <td>{{"✓" if row['designed_nz'] == "1" else "✗"}}</td>
                <td>{{"✓" if row['assembled_nz'] == "1" else "✗"}}</td>
                <td>{{row['vendor_name']}}</td>
                <td>{{row['contact_number']}}</td>
            </tr>
        {% endfor %}
        </table>

    </div>


    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>