<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Homepage</h1>
    </header>
    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                Add
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/add_business">Add Business</a>
                    </li>
                    <li>
                        <a href="/add_vendor">Add Vendor</a>
                    </li>
                    <li>
                       <a href="/link_business_vendor">Link Business and Vendor</a>
                    </li>
                </ul>
            </li>
            <li>
                Tables
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                        <a href="/vendor_table">Vendor Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
 
    <main class="homepage">
        <section class="intro">
            <h2>Welcome to the Vendor Management System</h2>
            <p>This system is designed to help you manage business, vendor, and location information in one organized website.</p>
            <p>With this system, you can easily add new businesses and vendors, link them together, and view all the information in a clear and concise manner.</p>
            <p> This system keeps Welly Collective's business and vendor 
            information in one place, making it easy to find and 
            manage information. </p>
        </section>
    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>