<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Homepage</h1>
    </header>
    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>                
                Tables
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                        <a href="/vendor_table">Vendor Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
 
    <main class="homepage">
        <section class="intro">
            <h2>Welcome to the Welly Collective Vendor Management System</h2>
            <p>This system is designed to help manage Welly Collective's business, vendor, and location information in one organized website.</p>
            <p>With this system, you can easily view businesses and vendors in clear and consise individual profiles, or view all the information in spreadsheets. </p>
        </section>
    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>