<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Profile</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Page Heading -->
    <header class="header">

    <!-- Welly Collective logo -->
    <div class="logo">
        <a href="/">
            <img src="/static/css/images/welly_collective_logo.png" alt="Welly Collective logo">
        </a>
    </div>

    <!-- Page title -->
    <h1>Information Profile</h1>

    </header>

    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <!-- Link to homepage -->
            <li>
                <a href="/">Homepage</a>
            </li>
            <!-- Link to search page -->
            <li>
                <a href="/search">Search</a>
            </li>
            <!-- Tables dropdown menu -->
            <li>                
                Tables
                <span class = "arrow">&#9660;</span>
                <!-- Sub-menu for tables -->
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
 
 
    <main class=    "profile-page">
        <h2>{{ business["business_name"]}}</h2>
        
        <!-- Business Information-->

        <h3>Business Information</h3>

        <table>
            <tr>
                <th>NZ Business</th>
                <td>
                    {{ "Yes" if business["nz_business"] == "1" else "No" }}
                </td>
            </tr>

            <tr>
                <th>Handmade NZ</th>
                <td>
                    {{ "Yes" if business["handmade_nz"] == "1" else "No" }}
                </td>
            </tr>

            <tr>
                <th>Designed NZ</th>
                <td>
                    {{ "Yes" if business["designed_nz"] == "1" else "No" }}
                </td>
            </tr>

            <tr>
                <th>Assembled NZ</th>
                <td>
                    {{ "Yes" if business["assembled_nz"] == "1" else "No" }}
                </td>
            </tr>
        </table>    

        <!-- Vendor Information -->

        <h3>Vendor Information</h3>

        <table>
                <tr>
                    <th>Vendor Name</th>
                    <th>Contact Number</th>
                </tr>
                {% for vendor in vendors %}
                <tr>
                    <td>{{ vendor["vendor_name"] }}</td>
                    <td>{{ vendor["contact_number"] }}</td>
                </tr>
                {% endfor %}
        </table>

        <!-- Location Information -->

        <h3>Location Information</h3>

        <table>

            <tr>
                <th>Location</th>
            </tr>

            {% for location in locations %}
            <tr>
                <td>{{ location["location_name"] }}</td>
            </tr>
            {% endfor %}

        </table>

    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>