<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <!-- Page Heading -->
    <header class="header">

    <!-- Welly Collective logo -->
    <div class="logo">
        <a href="/">
            <img src="/static/css/images/welly_collective_logo.png" alt="Welly Collective logo">
        </a>
    </div>

    <!-- Page title -->
    <h1>Locations</h1>

    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <!-- Link to homepage -->
            <li>
                <a href="/">Homepage</a>
            </li>
            <!-- Link to search page -->
            <li>
                <a href="/search">Search</a>
            </li>
            <!-- Tables dropdown menu -->
            <li class="active">                
                Tables
                <span class = "arrow">&#9660;</span>
                <!-- Sub-menu for tables -->
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    </header>

    <main class="table-page">
        <h2>Locations</h2>

        <div class = "table-controls">
            <a href="/locations_table?sort=name" class="sort-button">A-Z</a>
            <a href="/locations_table?sort=name_desc" class="sort-button">Z-A</a>
        </div>

        <div class="table-container">
            <table>
                <tr>
                    <th>Business Name</th>
                    {% for location in locations %}
                    <th>{{location['location_name']}}</th>
                    {% endfor %}
                </tr>
                {% for row in result %}
                <tr>
                    <td>{{row['business_name']}}</td>
                    {% for location in locations %}
                    <td class="tick-cross-centering">{{'✅' if location['location_name'] in row['location_names'] else '❌'}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>