<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Locations</h1>
    </header>
    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                Tables
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                        <a href="/vendor_table">Vendor Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
 
    <main>
        <h2>Locations</h2>
        <p>Hello World</p>
        <p>{{search}}</p>
    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>