<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Search</h1>
    </header>
    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                Tables
                <span class = "arrow">&#9660;</span>
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    
    <!-- Search bar -->
    <main class="search-page">
        <h2>Search Businesses</h2>
        <form method="get" action="/search">
        <span class="material-symbols-outlined">search</span>
        <input class="search-input" name="search" type="search" placeholder="Search Vendor">
        <input type="submit" value="Search">
        </form>

        <!-- Search Suggestions -->
         <datalist id = "search-suggestions">

            {% for business in businesses %}
                <option value="{{ business['business_name'] }}">
            {% endfor %}

            {% for vendor in vendors %}
                <option value="{{ vendor['vendor_name'] }}">
            {% endfor %}

        </datalist>

        <!-- Search Results -->

        <div class="search-results">
            
 
    </main>

    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>