<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Page Title -->
    <title>Search</title>

    <!-- Link to the CSS stylesheet -->
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Page Heading -->
    <header class="header">

    <!-- Welly Collective logo -->
    <div class="logo">
        <a href="/">
            <img src="/static/css/images/welly_collective_logo.png" alt="Welly Collective logo">
        </a>
    </div>

    <!-- Page title -->
    <h1>Search</h1>

    </header>

    <!-- Navigation bar -->
    <nav class="nav_class">
        <ul>
            <!-- Link to homepage -->
            <li>
                <a href="/">Homepage</a>
            </li>
            <!-- Link to search page -->
            <li>
                <a href="/search">Search</a>
            </li>
            <!-- Tables dropdown menu -->
            <li>
                Tables
                <span class = "arrow">&#9660;</span>
                <!-- Sub-menu for tables -->
                <ul class="sub-menu">
                    <li>
                        <a href="/business_table">Business Table</a>
                    </li>
                    <li>
                       <a href="/locations_table">Locations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    
    <!-- Mainn search section -->
    <main class="search-page">

        <!-- Search Form -->
        <h2>Search Businesses</h2>

        <form method="get" action="/search">

        <span class="material-symbols-outlined">search</span>

        <input class="search-input" name="search" type="search" placeholder="Search Vendor">

        <input class="search-button" type="submit" value="Search">

        </form>

        <!-- Search Results -->

        <div class="search-results">

            {% for row in result %}

            <a href="/information_profile/{{ row['business_id'] }}" class="business-box">

                    <h3>{{ row['business_name'] }}</h3>
                
            </a>

            {% endfor %}
        </div>
            
 
    </main>

    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>