<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendors</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Vendors</h1>
    </header>
    <!-- Navigation bar -->
    <nav>
        <ul>
            <li>
                <a href="about.html">Vendors</a>
                <a href="/">Edit</a>
                <a href="/">Add</a>
                <a href="/">Delete</a>
            </li>
        </ul>
    </nav>
    <!-- Search bar -->
    <div class="search">
        <form method="get" action="/search">
        <span class="material-symbols-outlined">search</span>
        <input class="search-input" name="search" type="search" placeholder="Search Vendor">
        <input type="submit" value="Search">
        </form>
    </div>
    <main>
        <h2>Vendors</h2>
        <p>Hello World</p>
        <p></p>
        {% for row in result %}
        <p>{{row['business_id']}} {{row['business_name']}}</p>
        {% endfor %}
    </main>
    <footer>
        <p>&copy; Emma Thomas 2026</p>
    </footer>
</body>
</html>